.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2,
p {
  color: var(--text-color);
}
.wrapper > * {
  width: fit-content;
}
.services-container {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  width: 100%;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
